<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ei.mapper.MainMapper">
<!--   增加单词，插入值 create_time,update_time,word,property,pronunciation,meaning-->
    <insert id="addWord" parameterType="com.ei.pojo.DO.EiWord">
        insert into ei_word(create_time,update_time,word,property,pronunciation,meaning)
        values(#{createTime},#{updateTime},#{word},#{property},#{pronunciation},#{meaning})
    </insert>
    <select id="getWords" resultType="com.ei.pojo.DO.EiWord">
        select * from ei_word
    </select>
</mapper>
