<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ei.mapper.SentencesMapper">
    <select id="getSentencesByUserIdAndSentenceId" resultType="Sentences">
        select * from sentences where id = #{sentenceId} and userId = #{userId}
    </select>
    <select id="getSentencesByUserId" resultType="Sentences">
        select * from sentences where user_id = #{userId}
    </select>
    <insert id="insertSentences" parameterType="Sentences">
        insert into sentences (user_id, content, create_time, update_time)
        values (#{userId}, #{content}, #{createTime}, #{updateTime})
    </insert>
</mapper>
